body{
text-align: center;
  background-color: rgb(11, 158, 243);
 
}
.head{

  background-color: rgb(221, 10, 35);
  color: antiquewhite;
}
#kimg{
  height: 450px;
  width: 1500px;
}
footer{
  height: 80px;
  background-color: rgb(75, 73, 70);
}