body{
  background-color: rgb(48, 3, 163);
  margin-top: 0;
  color: aliceblue;
  margin-bottom: 0;
}

#h1{
  margin-top: 0;
  text-align: center;
  color: rgb(4, 1, 9);
}

.img{
  
height: 20px;

}
.imgsp{
 
margin-top: 20px;
  height: 100px;
  width: 200px;
}
.divid{

display: flex;
justify-content: space-around;
align-items: center;

}
#head{
  height: 80px;
  width: 100%;
  background-color: blueviolet; 

}

#logo{
  position: absolute;
left: 30px;


}
#follow{
  position: absolute;
right: 20px;

}
.wsm{

  color: rgba(247, 255, 7, 0.992);
}
.footer{

height: 100px;
background-color: rgb(4, 123, 213);
margin-bottom: 0;
text-align: center;

}