body{
text-align: center;
  background-color: coral;
 
}
.head{

  background-color: black;
  color: antiquewhite;
}
#kimg{
  height: 400px;
  width: 1500px;
}
footer{
  height: 80px;
  background-color: blueviolet;
}